{% if site.weibo_uid %}
<section class="panel panel-default clearfix no-border-radius">
  <div class="panel-heading">
      <h3 class="panel-title">Sina Weibo</h3>
  </div>
  <div id="weibo_repos">
  	<iframe width="100%" height="{{ site.weibo_height }}" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language={{ site.weibo_language }}&amp;width=0&amp;height={{ site.weibo_height }}{% if site.weibo_fans_row >0 %}&amp;fansRow={{ site.weibo_fans_row }}&amp;isFans=1{% endif %}&amp;ptype=1&amp;speed={{ site.weibo_speed }}&amp;skin=1&amp;{% if site.weibo_title %}isTitle=1{% else %}isTitle=0{% endif %}&amp;noborder=0&amp;{% if site.weibo_title %}isWeibo=1{% else %}isWeibo=0{% endif %}&amp;uid={{site.weibo_uid}}&amp;verifier={{site.weibo_verifier}}&amp;dpc=1"></iframe>
  </div>
</section>
{% endif %}
